@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,500&display=swap");
@media screen and (max-width: 1024px) {
  .container .header .menu {
    display: none;
  }
  .container .header .login {
    display: none;
  }
  .container .header .icon {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .container .header__main .header__main__content1 h1 {
    font-size: 20px;
  }
  .container .header__main .header__main__content2 img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media screen and (max-width: 768px) {
  .container .header__main {
    display: flex;
    flex-direction: column;
  }
}
.main {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 200px 0;
}
.main__content1 {
  flex: 1;
}
.main__content1 h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 35px 0;
}
.main__content1 p {
  margin-bottom: 35px;
  font-size: 14px;
}
.main__content1 h6 {
  color: #96BB7C;
}
.main__content2 {
  display: flex;
  flex: 1;
  gap: 15px;
}
.main__content2__post1 {
  flex: 1;
  padding: 50px 20px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.main__content2__post1 h5 {
  margin: 10px 0;
}
.main__content2__post2 {
  flex: 1;
  padding: 50px 20px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.main__content2__post2 h5 {
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 425px) {
  .main__content2 {
    display: flex;
    flex-direction: column;
  }
}
.post {
  width: 80%;
  margin: auto;
  padding: 20px 0;
}
.post__content1 h6 {
  color: #96BB7C;
}
.post__content1 h2 {
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0;
}
.post__content1 p {
  font-size: 12px;
}
.post__content2 {
  display: flex;
  justify-content: center;
  gap: 400px;
  padding: 100px 0;
}
.post__content2__profil1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.post__content2__profil1 p {
  width: 250px;
  padding: 15px 0;
  text-align: center;
  font-size: 12px;
}
.post__content2__profil1 h5 {
  padding: 10px 0;
}
.post__content2__profil2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.post__content2__profil2 p {
  width: 250px;
  padding: 15px 0;
  text-align: center;
  font-size: 12px;
}
.post__content2__profil2 h5 {
  padding: 10px 0;
}

@media screen and (max-width: 1024px) {
  .post__content2 {
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .post__content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .post__content2 {
    display: flex;
    flex-direction: column;
  }
}
.user {
  width: 80%;
  margin: auto;
  padding: 10px 0;
}
.user__content1 h6 {
  color: #96BB7C;
}
.user__content1 h3 {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0;
}
.user__content1 p {
  font-size: 12px;
}
.user__content2 {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.user__content2__menu1 {
  text-align: center;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.user__content2__menu1 h5 {
  padding: 10px 0;
}
.user__content2__menu1 h6 {
  padding: 10px 0;
}
.user__content2__menu1 img {
  border-radius: 10px;
}
.user__content2__menu2 {
  text-align: center;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.user__content2__menu2 h5 {
  padding: 10px 0;
}
.user__content2__menu2 h6 {
  padding: 10px 0;
}
.user__content2__menu2 img {
  border-radius: 10px;
}
.user__content2__menu3 {
  text-align: center;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.user__content2__menu3 h5 {
  padding: 10px 0;
}
.user__content2__menu3 h6 {
  padding: 10px 0;
}
.user__content2__menu3 img {
  border-radius: 10px;
}
.user__content2__menu4 {
  text-align: center;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.user__content2__menu4 h5 {
  padding: 10px 0;
}
.user__content2__menu4 h6 {
  padding: 10px 0;
}
.user__content2__menu4 img {
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .user__content2 {
    flex-wrap: wrap;
  }
}
.footer {
  background-color: #FFF2F3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 160px 0;
}
.footer h6 {
  color: #96BB7C;
}
.footer h3 {
  padding: 10px 0;
}
.footer p {
  font-size: 12px;
  text-align: center;
  padding: 10px 0;
}
.footer div {
  padding: 80px 0;
}
.footer div input {
  width: 668px;
  height: 35px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
}

.foot {
  width: 80%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer div input {
    width: auto;
    margin-bottom: 10px;
  }
  .foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #96BB7C;
  border: none;
  color: #fff;
}

.btn:hover {
  background-color: #252B42;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-primary {
  padding: 10px 15px;
  border-radius: 5px;
  border: solid 1px;
}

.container {
  background-color: #FFF2F3;
}
.container .header {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  font-weight: bold;
}
.container .header i {
  display: none;
}
.container .header h1 {
  font-size: 32px;
  font-weight: bold;
  text-decoration: underline;
}
.container .header ul {
  display: flex;
  gap: 10px;
}
.container .header ul li a:hover {
  color: orange;
  transition: all 0.3s ease;
  cursor: pointer;
}
.container .header ul li a:focus {
  border: 1px solid black;
  border-radius: 3px;
}
.container .header ul li a:active {
  color: black;
}
.container .header span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.container .header span h6:hover {
  color: orange;
}
.container .header__main {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .header__main h5 {
  color: #96BB7C;
}
.container .header__main h1 {
  font-size: 58px;
  font-weight: bold;
  padding: 20px 0;
}
.container .header__main p {
  width: 300px;
  padding: 10px 0;
}/*# sourceMappingURL=style.css.map */